.flag-true {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mat-toolbar{
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: #004c40;
  height: 12%;
}

.logo-class{
  height: 100%;
}

.name-class{
  font-size: 4vh;
  font-family: "papyrus", serif;
  color: white;
}

.less .name-class{
  font-size: 3vh;
  font-family: "papyrus", serif;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.social-icon-panel{
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .social-icon-panel{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.social-icon-class{
}

.icon-class{
  width: 22.22%;
  padding-right:5.55%;
  padding-left: 5.55%;
}

.content-class{
  background-color: #f5ffff;
  height: auto;
}

.top-class{
  font-family: "Open Sans", serif;
  font-size: x-large;
  padding-left: 10%;
}

@media only screen and (max-width: 1024px) {
  .top-class{
    font-family: "Open Sans", serif;
    font-size: large;
    padding-left: 10%;
  }
}

.carousel{
  position: relative;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-cells{
  height: auto !important;
}

.carousel-cell{
  height: auto !important;
}

.example-card {
  max-width: 70vw;
  text-align: left;
  overflow-wrap: break-word;
  height: auto !important;
  border-style: solid;
  border-width: thin;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/600px-Telegram_logo.svg.png');
  background-size: cover;
}

.mat-card-title{
  font-family: "Open Sans", serif;
  font-size: x-large;
}

.mat-card-subtitle{
  font-family: "Georgia", serif;
}

@media only screen and (max-width: 700px) {
  .mat-card-title{
    font-family: "Open Sans", serif;
    font-size: large;
  }

  .mat-card-subtitle{
    font-family: "Georgia", serif;
    font-size: medium;
  }
}

.example-card-image{
  max-width: fit-content;
  height: auto;
  /*max-height: 500px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #004c40;
  text-align: center;
}

.list-class{
  height: 60%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.name-class-footer{
  font-size: 4vh;
  font-family: "papyrus", serif;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .name-class-footer{
    font-size: 3vh;
    font-family: "papyrus", serif;
    color: white;
  }
}

.tag-line-class-footer{
  font-size: 2vh;
  font-family: "Georgia", serif;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .tag-line-class-footer{
    font-size: 1.5vh;
    font-family: "Georgia", serif;
    color: white;
  }
}

.social-icon-panel-footer{
  height: 40%;
  width: auto;
}

.icon-class-footer{
  width: 3vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-top: 1.5vh;
}

p{
  font-family: "Arial", serif;
}

.example-margin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
}

@media only screen and (max-width: 1024px) {
  .example-margin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128px;
  }
}
